:root {
  --color-primario: #11c2f8;
  --color-secundario: #e7e970;
}

body {
  
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column; /* 👈 esto los pone uno debajo del otro */
  gap: 20px;
  max-width: 600px;
  margin: auto;
}


.card {
  background: var(--color-secundario);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  background: var(--color-primario);
  color: white;
}
